html,body,div,h1,h2,h3,p,span,ol,ul,li{margin: 0;padding: 0;}
html,body{font: 14px/1.4 'MicroSoft YaHei';}
ul,li{list-style: none;}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.clearfix{
	zoom: 1; 
}

.container{
	position: relative;
	margin: 20px;
	background: #eee;
	border: 1px solid #999;
}
.container .TeamName{
	float: left;
	width: 200px;
	margin: 20px;
	background: #fff;
	border: 1px solid #999;
}
.container .TeamName .logo{
	float: left;
	width: 80px;
	height: 80px;
	margin: 20px;
	background: url('logo.png');
	border: 1px solid #999;
}
.container .TeamName .name{
	font-size: 16px;
	font-weight: normal;
	margin-top: 14px;
    line-height: 28px;
}

.container .TeamIntroduction{
    padding: 0 20px 20px 20px;
	margin: 20px 160px 20px 240px;
    background: #fff;
    border: 1px solid #999;
}
/* .container .TeamIntroduction{
	position: absolute;
	top: 20px;
	left: 240px;
	margin-right: 160px;
    padding: 0 20px 20px 20px;
    background: #fff;
    border: 1px solid #999;
} */
.container .TeamIntroduction p{
	line-height: 1.5;
	text-indent: 2em;
}
.container .TeamIntroduction h2,h3{
	font-weight: normal;
	line-height: 2;
}
.container .PersonalLogo{
	float: right;
	width: 120px;
	margin: 20px;
	background: #fff;
	border: 1px solid #999;
}
.container .PersonalLogo li{
	margin: 20px;

}